<div class="well">
    <h2>Enter a zipcode:</h2>
    <form (ngSubmit)="addZipLocation()">
        <label for="zipCode"></label>
        <input class="form-control" [(ngModel)]="newZipLocation" name="zipCode" placeholder="Zipcode"
               type="text"
               id="zipCode">
        <br>
        <button class="btn btn-primary" id="addLocationBtn" (click)="addZipLocation()" [disabled]="!newZipLocation"
                type="submit">Add
            location
        </button>
    </form>
</div>
